Checks: 
  - '*'
  - '-abseil-*'
  - '-altera-*'
  - '-android-*'
  - '-fuchsia-*'
  - '-google-*'
  - '-llvm*'
  - '-modernize-use-trailing-return-type'
  - '-zircon-*'
  - '-readability-else-after-return'
  - '-readability-static-accessed-through-instance'
  - '-readability-avoid-const-params-in-decls'
  - '-readability-braces-around-statements'
  - '-readability-magic-numbers'
  - '-readability-identifier-length'
  - '-readability-uppercase-literal-suffix'
  - '-cppcoreguidelines-non-private-member-variables-in-classes'
  - '-cppcoreguidelines-avoid-magic-numbers'
  - '-cppcoreguidelines-narrowing-conversions'
  - '-cppcoreguidelines-special-member-functions'
  - '-misc-non-private-member-variables-in-classes'
  - '-hicpp-braces-around-statements'
  - '-hicpp-uppercase-literal-suffix'
  - '-hicpp-special-member-functions'
  - '-cert-err58-cpp'
  - '-bugprone-narrowing-conversions'
  - '-bugprone-easily-swappable-parameters'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none